name: gitleaks scan
on:
  push:
    branches: [ main ]
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  gitleaks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Run gitleaks
        uses: zricethezav/gitleaks-action@v2
        with:
          args: '--verbose --redact'
